.table-view .table-cell {
  -fx-border-color: transparent;
  -fx-padding: 2 0 2 10px;
}

.table-row-cell: odd {
  -fx-background-color:transparent;
}

.table-row-cell: even {
  -fx-background-color: transparent;
}
.button {
    -fx-background-color: #555555;
    -fx-opacity: 0.8;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 0px;
}
.button: hover {
    -fx-background-color: gray;
    -fx-border-color: black;
    -fx-shadow: 5px 5px 5px 5px;
}