.root{
    -fx-color1: #001219;
    -fx-color2: #005F73;
    -fx-color3: #0A9396;
    -fx-color4: #94D2BD;
    -fx-color5: #EE9B00;
    -fx-color6: #AE2012;
    -fx-color7: #CA6702;
}
.bottomAnchorPane{
-fx-background-color: -fx-color1;
}
.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: white;
}
.table-view .column-header-background{
    -fx-background-color: #555555;
    -fx-opacity: 0.8;
    -fx-text-fill: white;
    -fx-background-radius: 1em;
}
.table-view .column-header .label {
    -fx-text-fill: white;
}
.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-row-cell:odd {
    -fx-background-color:transparent;
}

.table-row-cell:even {
    -fx-background-color: transparent;
}
.button {
    -fx-background-color: #2D2D2D;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 12em;
}
.button:hover {
    -fx-background-color: -fx-color5;
    -fx-shadow: 5px 5px 5px 5px;
    -fx-background-radius: 12em;
}
.externalButton{
    -fx-background-color: -fx-color3;
}
.externalButton:hover{
    -fx-background-color: -fx-color4;
}
.enterButton{
    -fx-background-color: -fx-color7;
}
.serviceMenu{
    -fx-background-color: -fx-color3;
    -fx-cursor: hand;
}
.servicesButton{
    -fx-background-color: -fx-color3;
    -fx-cursor: hand;
}

.servicesButton:hover{
    -fx-background-color: gray;
    -fx-shadow: 5px 5px 5px 5px;
    -fx-background-radius: 12em;
}
.BoxState{
    -fx-background-color: -fx-color2;
}

.text-field{
    -fx-background-color: #2D2D2D;
    -fx-background-radius: 1em;
}
.toggle-button:hover{
    -fx-background-color: #86d1be;
    
}
.openMenuButton{
    -fx-background-color: -fx-color4;
    -fx-cursor: hand;
}
.openMenuButton:hover{
    -fx-background-color: #86d1be;
}
.menuButton{
    -fx-max-width:191;
    -fx-max-heigth:33;
    -fx-background-color: -fx-color4;
    -fx-cursor: hand;
}

.bottomMenuButton{
     -fx-min-width:30;
    -fx-background-color: -fx-color4;
    -fx-cursor: hand;
    -fx-graphic: url('https://icons.iconarchive.com/icons/iconsmind/outline/24/Clock-Forward-icon.png');
}
.menuButton:hover{
    -fx-background-color: #86d1be;
}
.bottomMenuButton:selected {
  -fx-graphic: url('https://icons.iconarchive.com/icons/icons8/ios7/24/Arrows-Forward-icon.png');
}
.sideMenuButton{
     -fx-background-color: transparent;
    -fx-text-fill: white;
}
.sideMenuButton:hover{
    -fx-background-color: #303847;
    -fx-shadow: 5px 5px 5px 5px;
    -fx-background-radius: 12em;
}
.sideMenuButton:selected {
     -fx-background-color: -fx-color7;
    -fx-shadow: 5px 5px 5px 5px;
    -fx-background-radius: 12em;
}
.tableView{
    -fx-background-color:-fx-color2;
    -fx-background-radius: 1em;
}
.quitButton{
    -fx-background-color:-fx-color6;
}
.undoButton{
     -fx-background-color: -fx-color7;
}